min {
	display: flex;
	grid-template-areas:
		"top"
		"bottom";
	width: 100%;
}
header {
	display: flex;
	width: 100%;
	margin-bottom: 2%;
}
.main {
	display: flex;
	width: 100%;
	flex-direction: column;
}
.headertopleft {
	display: flex;
	text-align: left;
	width: 75%;
}
.headertopright {
	display: flex;
    word-break: keep-all;
	padding: 6px;
	border-radius: 999px;
	border: solid 2px #382d21;
	box-shadow: 4px 4px;
}

.cardd {
	padding: 12px 6px;
	margin-right: 2%;
	border-radius: 999px;
	border: solid 2px #382d21;
	background-color: #f4cb5f;
	box-shadow: 4px 4px;
}
.top {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 12px;
	border: solid 2px black;
	box-shadow: #382d21 4px;
	grid-area: top;
	box-shadow: 4px 4px;
}
.ca {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: solid 2px black;
	padding-left: 2%;
	padding-right: 2%;
}
.pink {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fd8ae5;
	border: solid #382d21 2px;
	border-radius: 10px;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	box-shadow: 4px 4px;
}
.textbar {
	display: flex;
	gap: 5px;
}
.greystartt {
	display: none;
	margin-left: 90%;
}
.greystart {
	margin-left: 75%;
}
.start {
	margin-right: 75%;
}
.validredo {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}
.left {
	display: flex;
	margin-left: 0%;
	padding: 18px 24px;
	border-radius: 999px;
	border: solid 2px #382d21;
}
.leftp {
	display: none;
}
.tcard {
	width: 80%;
}
.right {
	margin-right: 0%;
	padding: 18px 24px;
	border-radius: 999px;
	border: solid 2px #382d21;
}
.rightp {
	display: none;
}
.bottom {
	display: flex;
	flex-direction: column;
	grid-area: bottom;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	border: solid 2px #382d21;
	border: solid 2px #382d21;
	border-radius: 12px;
	box-shadow: 4px 4px;
}
.box {
	display: flex;
	flex-direction: row;
	text-align: center;
	width: 100%;
	border-radius: 10px;
	border: solid 2px#382D21;
	margin-bottom: 2%;
	box-shadow: 4px 4px;
}
.boxtext {
	width: 50%;
	text-align: left;
	margin-left: 5%;
}
.imgboxb {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
	background-color: #94aced;
}
.imgboxc {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
	background-color: #46dbc9;
}
.imgboxg {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
	background-color: #bbf45f;
}
.imgboxp {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
	background-color: #fd8ae5;
}
@media screen and (width > 460px) {
	main {
		display: flex;
		grid-template-areas:
			""
			"top, bottom";
		width: 100%;
		height: 100%;
		gap: 30px;
	}

	.top {
		width: 80%;
	}
	.bottom {
		width: 20%;
	}
	.ca {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.left {
		display: flex;
		gap: 20px;
		margin-left: 0%;
		padding: 4px 12px;
		border-radius: 999px;
		border: solid 2px #382d21;
	}
	.leftp {
		display: flex;
		font-family: Plus Jakarta Sans;
		font-weight: 700;
		font-style: Bold;
		font-size: 20px;
		line-height: 100%;
		letter-spacing: 0%;
		color: #382d21;
	}
	.right {
		display: flex;
		margin-right: 0%;
		padding: 4px 12px;
		gap: 20px;
		border-radius: 999px;
		border: solid 2px #382d21;
	}
	.rightp {
		display: flex;
		font-family: Plus Jakarta Sans;
		font-weight: 700;
		font-style: Bold;
		font-size: 20px;
		color: #382d21;
		line-height: 100%;
		letter-spacing: 0%;
	}
	.greystartt {
		display: flex;
		margin-top: 2%;
		margin-left: 90%;
	}
	.greystart {
		display: none;
		margin-left: 90%;
	}
	.start {
		margin-right: 90%;
	}
}
